﻿<?xml version="1.0" encoding="utf-8"?>
<selector xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:drawable="@color/list_item_click_bg" android:state_pressed="true"/>
    <item android:drawable="@color/list_item_normal_bg"/>
</selector>

