<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:background="@drawable/list_item">
    <Mvx.MvxImageView
        android:layout_width="150dp"
        android:layout_height="90dp"
        android:layout_margin="10dp"
        local:MvxBind="ImageUrl ImageURL" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent">
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="30dp"
                local:MvxBind="Text Name"
                android:id="@+id/textViewCityName" />
            <Mvx.MvxImageView
                android:layout_width="100dp"
                android:layout_height="27dp"
                android:layout_margin="10dp"
                android:layout_alignParentRight="true"
                local:MvxBind="ImageUrl OperatedBy,Converter=OperatedBy" />
        </RelativeLayout>
        <TextView
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:textSize="14dp"
            android:layout_marginRight="10dp"
            local:MvxBind="Text Intro,Converter=PlainText"
            android:id="@+id/textViewCityIntro" />
    </LinearLayout>
</LinearLayout>